.fondo{
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
}

.avatar{
    width: 150px;
    border-radius: 50%;
}


/* sirve para que el scrool sea mas lento */
html{
    scroll-behavior: smooth;
}